.Container {
    margin-top: 10%;
}

.PageTitle {
    text-align: center;
    position: relative;
    /* margin-top: 50px; */
    border-radius: 2em;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #D41159;
}

.FilterContainer {
    margin-left: 45%;
    position: absolute;
    justify-content: center;
    /* display: flex; */
    margin-bottom: 2%;
}