.FormContainer {
  margin-top: 40px;
  padding: 5%;
  vertical-align: middle;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  bottom: 0;
}

.contact {
  display: block;
  padding: 10px;
  border: none;
}

.contact label {
  display: block;
}

.contact input {
  height: 20px;
  width: 25%;
}

.contact textarea {
  height: 100px;
  width: 25%;
}
