.inner-footer {
  width: 100%;
  background-color: black;
  height: 300px;
  margin: 0 auto;
  margin-top: 10em;
  color: white;
  display: table;
  font-family: 'Didact Gothic', sans-serif;
}

.inner-footer a {
  color: white;
  display: inline-block;
}

i {
  font-size: 17px;
  text-align: center;
  padding: 0px 6px;
  display: inline-block;
}

.logo {
  height: 100%;
  display: table;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo img {
  height: 70px;
  display: table-cell;
  vertical-align: middle;
}

i:hover {
  color: red;
}

footer p {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}