.inner-footer {
  width: 100%;
  vertical-align: middle;
  background-color: black;
  height: 300px;
  /* margin: 0 auto; */
  /* margin-top: 10em; */
  color: white;
  display: table;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 20px;
}

.inner-footer a {
  color: white;
  display: inline-block;
}

i {
  font-size: 17px;
  text-align: center;
  padding: 0px 6px;
  display: inline-block;
}

.logo {
  height: 100%;
  /* display: table; */
  /* float: left; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo img {
  height: 70px;
  /* display: table-cell; */
  margin: 2em;

  vertical-align: middle;
}

i:hover {
  color: red;
}

.footerContent {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}