.ProductsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  grid-column-gap: 10px;
  /* margin-top: 5em; */
  
}

@media only screen and (max-width:1025px) {
  .ProductsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /* height: 100vh; */
  }
  .Card {
    /* border: 5px solid black; */
    font-family: 'Yusei Magic', sans-serif;
    margin-top: 5em;
    margin-bottom: 5em;
    display: inline-block;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    padding: 0;
  }
  
  
  .Content {
    list-style: none;
    text-decoration: none;
    
  }
  
  .Image {
    /* display: inline-block;
    height: 200px;
    justify-content: center; */
    /* width: auto; */
    /* display: block; */
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 50%;
  }
  
  .Price {
    font-weight: 400;
    padding: 5px;
    text-align: center;
    font-size: 8px;
  }
  
  .Name {
    padding: 15px 15px;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    margin: auto;
  }
  
  .Description {
    font-weight: 300;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    margin: .5em .5em;
  }
  
  /* .ButtonContainer {
    align-items: center;
  } */
  
  .Button {
    /* align-items: center; */
    /* vertical-align: middle; */
    /* margin: 50%; */
    margin: 0 35% 0 35%;
    /* margin-top: auto; */
    font-size: 8px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    font-family: 'Yusei Magic', sans-serif;
  
  }
  
}


@media only screen and (max-width: 415px) {
  .ProductsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /* height: 100vh; */
  }
  .Card {
    /* border: 5px solid black; */
    font-family: 'Yusei Magic', sans-serif;
    /* margin-top: 5em; */
    margin-bottom: 2em;
    display: inline-block;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    padding: 0;
  }
  
  
  .Content {
    list-style: none;
    text-decoration: none;
    
  }
  
  .Image {
    /* display: inline-block;
    height: 200px;
    justify-content: center; */
    /* width: auto; */
    /* display: block; */
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 50%;
  }
  
  .Price {
    font-weight: 400;
    padding: 3px;
    text-align: center;
    font-size: 7px;
  }
  
  .Name {
    padding: 10px 10px;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 7px;
    font-weight: 600;
    margin: auto;
  }
  
  .Description {
    font-weight: 300;
    padding: 3px;
    text-align: center;
    font-size: 5px;
    margin: .5em .5em;
  }
  
  /* .ButtonContainer {
    align-items: center;
  } */
  
  .Button {
    /* align-items: center; */
    /* vertical-align: middle; */
    /* margin: 50%; */
    margin: 0 35% 0 35%;
    /* margin-top: auto; */
    font-size: 6px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    font-family: 'Yusei Magic', sans-serif;
  
  }
}
